<body style="background-color:red">
	<h1 style="color:yellow">About us</h1>
		<p style="color:white">We're working on our one month rails project.</p>
		<p style="color:white"> A young and determined graduate in Business Management. I had a life changing experience. </p>
		<p style="color:white">Following regular business, economics, finance, accounting modules etc. I went last summer to work for an Ed Tech startup called USEED. Working with young entrepreneurs, but most importantly with the CTO, I realized how technology will transform our day to day lives. </p>
		<p style="color:white"> Much earlier than we would have even thought of. So, here I am, learning how to use Ruby on Rails, taking basic html classes on the side, and doing my best to enhance my skills! </p>
</body>