<body style="background-color:red">
	<h1 style="color:yellow">Contact Us</h1>
		<p style="color:white">If you would like to learn more about our project, please feel free to contact me at: fedebugnone@hotmail.com</p>
</body>