<body style="background-color:red">
	<h1 style="color:yellow"> Welcome to my Website</h1>
		<p style="color:white">Sign up <a href="https://res.cloudinary.com/teepublic/image/private/s--awm64bTI--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1453708667/production/designs/402557_1.jpg"> here!</a></p>
		<p style="color:white">Thank you all for visiting my project!</p>
		<p style="color:white">On this page you'll now be able to</p>
	<h2 style="color:yellow">Tell your story by:</h2>
		<ol style="color:white">
			<li>Sharing your pictures</li>
			<li>Write about your journey</li>
			<li>And respond to comments</li>
		</ol>
	<img src="https://s-media-cache-ak0.pinimg.com/564x/4d/ed/5c/4ded5c810ec13abbebebd7f3038f0cba.jpg" />
</body>